<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ClienteMapper">
    
    <select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
            select
        
        c.documento,
        c.nombre,
        c.telefono,
        c.direccion,
        c.email,
        c.vetado,
    
        
        ir.id as ir_i_ti_id,
        ir.fechainiciorenta as ir_i_ti_fechainiciorenta,
        ir.fechafinrenta as ir_i_ti_fechafinrenta,
        ir.CLIENTES_documento as ir_i_ti_documentocliente,
        
        
        i.id as i_ti_id, 
        i.nombre as i_ti_nombre,
        i.descripcion as i_ti_descripcion,
        i.fechalanzamiento as i_ti_fechalanzamiento,
        i.tarifaxdia as i_ti_tarifaxdia,
        i.formatorenta as i_ti_formatorenta,
        i.genero as i_ti_genero,  
              
        ti.id as ti_id,
        ti.descripcion as ti_descripcion
        
        FROM VI_CLIENTES as c 
        left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
        left join VI_ITEMS as i on ir.ITEMS_id=i.id 
        left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
        
    </select>
    
    <resultMap type='Cliente' id='ClienteResult'>
        <id property='documento' column='documento'/>
        <result property='nombre' column='nombre'/>
        <result property='telefono' column='telefono'/>  
        <result property='direccion' column='direccion'/>
	<result property="email" column="email"/>
        <result property='vetado' column='vetado'/>
        <collection property='rentados' ofType='ItemRentado' columnPrefix="ir_" resultMap='ItemRentandoResult'></collection>      
    </resultMap>
    
    <resultMap type='ItemRentado' id='ItemRentandoResult'>
        <id property='id' column='i_ti_id'/>
        <result property="fechainiciorenta" column="i_ti_fechainiciorenta"/>
        <result property='fechafinrenta' column='i_ti_fechafinrenta'/>   
        <association   property="item" javaType="Item" columnPrefix="i_ti_" resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult"></association>
    </resultMap>
   
    
          	
    <insert parameterType="map" id="agregarItemRentadoACliente" >
                insert into VI_CLIENTES values (#{id}, #{idit}, #{fechainicio}, #{fechafin})
    </insert>  
    
     
          
    <select parameterType="map" id="consultarCliente" resultMap="ClienteResult">
            select
        
        c.documento,
        c.nombre,
        c.telefono,
        c.direccion,
        c.email,
        c.vetado,
    
   
        ir.fechainiciorenta as ir_i_ti_fechainiciorenta,
        ir.fechafinrenta as ir_i_ti_fechafinrenta,
        ir.CLIENTES_documento as ir_i_ti_documentocliente,
        ir.id as ir_i_ti_id,
        
        i.id as i_ti_id, 
        i.nombre as i_ti_nombre,
        i.descripcion as i_ti_descripcion,
        i.fechalanzamiento as i_ti_fechalanzamiento,
        i.tarifaxdia as i_ti_tarifaxdia,
        i.formatorenta as i_ti_formatorenta,
        i.genero as i_ti_genero,  
              
        ti.id as ti_id,
        ti.descripcion as ti_descripcion
        
        FROM VI_CLIENTES as c 
        left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
        left join VI_ITEMS as i on ir.ITEMS_id=i.id 
        left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
        WHERE documento=#{id} 
        
    </select> 
         
                
</mapper>