<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper">
    
    <insert parameterType="map" id="agregarItemRentadoACliente" >
                insert into VI_ITEMS values (#{item.id}, #{item.nombre}, #{item.descripcion} , #{item.fechaLanzamiento}, #{item.tarifaxDia} , #{item.formatoRenta},  #{item.genero},  #{item.tipo})
    </insert> 

    <select parameterType="map" id="getItems" resultMap="ItemResult">
        select 
        *
        FROM VI_ITEMS
    </select>
    
    <select parameterType="map" id="consultarItem" resultMap="ItemResult">
        select 
        id,nombre,descripcion,tarifaxdia,formatorenta,genero,tipoitem_id
        FROM VI_ITEMS WHERE id=#{id}
    </select>
    
    <resultMap type='Item' id='ItemResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='fechaLanzamiento'/>  
        <result property='tarifaxDia' column='tarifaxDia'/>
	<result property="formatoRenta" column="formatoRenta"/>
        <result property='genero' column='genero'/> 
        <association property="tipo" javaType="TipoItem"></association>  
    </resultMap>
    
</mapper>